body {
    background: #0595DE;
}

h1 {
    background: #1cc88a;
}

.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.joke-display {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: #4e73df;
    flex-direction: column;
}

.winter {
    background-color: aliceblue;
}

.summer {
    background-color: orange;
}

.joke-display.winter {
    color: blue;
}

.joke-display.summer {
    color: red;
}

.ui.dimmer {
    height: 100vh;
    width: 100vw;
}